{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

<div class="main-page">
    <div class="main-left">
        <div class="slider">
            <div class="slides">
                <div class="slide active">
                    <img src="img/main-page/slider/slider-image-1.jpg" alt="Slide 1">
                </div>
                <div class="slide">
                    <img src="img/main-page/slider/slider-image-2.jpg" alt="Slide 2">
                </div>
                <div class="slide">
                    <img src="img/main-page/slider/slider-image-3.jpg" alt="Slide 3">
                </div>
            </div>
            <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
            <button class="next" onclick="moveSlide(1)">&#10095;</button>
        </div>
    </div>
    <div class="main-right">
        <div class="booking-header">
            <h1>Book Now</h1>
        </div>
        <div class="booking-form">
            {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
                <div class="form-group mr-2">
                    {{ form_row(form.startdate, {'attr': {'class': 'form-control', 'placeholder': 'Check-in Date', 'autocomplete': 'off'}}) }}
                </div>
                <div class="form-group mr-2">
                    {{ form_row(form.enddate, {'attr': {'class': 'form-control', 'placeholder': 'Check-out Date', 'autocomplete': 'off'}}) }}
                </div>
                <div class="form-group mt-2">
                    {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{#
<div>
    {% if availableRooms is defined %}
        <h2 class="mt-5">Available Rooms</h2>
        <div class="row">
            {% for room in availableRooms %}
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card room-card">
                        <img src="{{ asset('img/image-rooms/' ~ room.img) }}" class="card-img-top room-img" alt="{{ room.name }}">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                            <h5 class="card-title">
                                <a href="{{ path('app_rooms_show', {'id': room.id}) }}" class="text-decoration-none">{{ room.name }}</a>
                            </h5>
                            <p class="card-text"><strong>Price:</strong> ${{ room.price }}</p>
                            <p class="card-text"><strong>Type:</strong> {{ room.type }}</p>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <p class="text-center text-danger">No rooms available for the selected dates.</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
#}
{% endblock %}
