{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

<div class="main-image">
    <img src="img/main-page/main.png" alt="Slide 1">
</div>

<div class="main-page-header-content">
    <h2>Welcome to</h1>
    <h1>Hotel Dashboard</h1>
    <h2>Your Booking Platform</h1>
</div> 

<div class="main-page">
    <div class="main-left">
        <div class="slider">
            <div class="slides">
                <div class="slide active">
                    <img src="img/main-page/slider/slider-image-1.jpg" alt="Slide 1">
                </div>
                <div class="slide">
                    <img src="img/main-page/slider/slider-image-2.jpg" alt="Slide 2">
                </div>
                <div class="slide">
                    <img src="img/main-page/slider/slider-image-3.jpg" alt="Slide 3">
                </div>
            </div>
            <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
            <button class="next" onclick="moveSlide(1)">&#10095;</button>
        </div>
    </div>
    <div class="main-right">
        <div class="booking-header">
            <h1>Book Now</h1>
        </div>
        
        <div class="booking-form form-group mt-2">
            {{ form_start(form, {'attr': {'class': 'form-inline justify-content-center', 'id': 'bookingForm'}}) }}
            <div class="row align-items-center border-dark rounded form-row">
                <div class="col col1">
                    <div class="form-group mr-2">
                        {{ form_row(form.startdate, {'attr': {'class': 'form-control', 'autocomplete': 'off', 'id': 'startdate'}}) }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group ml-2">
                        {{ form_row(form.enddate, {'attr': {'class': 'form-control', 'autocomplete': 'off', 'id': 'enddate'}}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group mt-2">
                        {{ form_row(form.submit, {'attr': {'class': 'btn btn-purple btn-block', 'id': 'submitBtn'}}) }}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>

        <script>
            document.getElementById('submitBtn').addEventListener('click', function(event) {
                event.preventDefault();
                var startDate = document.getElementById('startdate').value;
                var endDate = document.getElementById('enddate').value;
                
                // Store the selected dates in the session
                sessionStorage.setItem('startDate', startDate);
                sessionStorage.setItem('endDate', endDate);
                
                // Submit the form
                document.getElementById('bookingForm').submit();
            });
        </script>



    </div>
</div>

<div class="main-page-advantages">
    <div class="main-page-advantages-text">
        <h1>Hotel GYM</h1>
    </div>
    <div>
        <img src="img/main-page/home/gym.jpg" alt="Slide 1">
    </div>
</div>

<div class="main-page-advantages">
    <div class="main-page-advantages-text">
        <h1>Hotel TENNIS</h1>
    </div>
    <div>
        <img src="img/main-page/home/tennis.jpg" alt="Slide 1">
    </div>
</div>

<div class="main-page-advantages">
    <div class="main-page-advantages-text">
        <h1>Hotel POOL</h1>
    </div>
    <div>
        <img src="img/main-page/home/pool.jpg" alt="Slide 1">
    </div>
</div>

{% endblock %}
