{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

<div class="main-image">
    <img src="img/main-page/main.png" alt="Slide 1">
</div>

<div class="main-page">
    <div class="main-left">
        <div class="slider">
            <div class="slides">
                <div class="slide active">
                    <img src="img/main-page/slider/slider-image-1.jpg" alt="Slide 1">
                </div>
                <div class="slide">
                    <img src="img/main-page/slider/slider-image-2.jpg" alt="Slide 2">
                </div>
                <div class="slide">
                    <img src="img/main-page/slider/slider-image-3.jpg" alt="Slide 3">
                </div>
            </div>
            <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
            <button class="next" onclick="moveSlide(1)">&#10095;</button>
        </div>
    </div>
    <div class="main-right">
        <div class="booking-header">
            <h1>Book Now</h1>
        </div>
        <div class="form-group mt-2">
            {{ form_start(form, {'attr': {'class': 'form-inline', 'action': path('app_available_rooms'), 'method': 'get'}}) }}
                <div class="form-group mr-2">
                    {{ form_row(form.startdate, {'attr': {'class': 'form-control', 'placeholder': 'Check-in Date', 'autocomplete': 'off'}}) }}
                </div>
                <div class="form-group mr-2">
                    {{ form_row(form.enddate, {'attr': {'class': 'form-control', 'placeholder': 'Check-out Date', 'autocomplete': 'off'}}) }}
                </div>
                <div class="form-group mt-2">
                    {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>


{% endblock %}
