{% extends 'base.html.twig' %}

{% block title %}Rooms index{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4 mb-4 text-center">Rooms Index</h1>
    <div class="rooms-list">
        {% for room in rooms %}
        <a href="{{ path('app_rooms_show', {'id': room.id}) }}" class="room-link">
            <div class="room">
                <div class="rooms-user-text">
                    {{ room.name }}</br>
                    {{ room.price }}€
                </div>
                <div class="room-right rooms-image">
                    <div class="image-container">
                        <img src="{{ asset('img/image-rooms/' ~ room.img) }}" alt="{{ room.name }}">
                    </div>
                </div>
            </div>
        </a>
        {% else %}
        <div class="no-records text-center small">
            No records found
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
